@charset "utf-8";
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: relative;
  margin-bottom:20px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  width:480px;
  
}


#carousel-example-generic .carousel-inner > .item
{
height:auto!important;
}


/* Declare heights because of positioning of img element */
.carousel > .item {
    margin: 0 auto;
  background-color: #777;
  padding:0px!important;


}

.carousel-inner > .item  {
    padding:0px!important;   
     height: 200px!important;
      overflow: hidden;

 }

.carousel-inner > .item > img, .carousel-inner > .item > a > img   {
	min-width: 100%;
   min-height: 200px; /* <--- Change this line to min-height */
   max-width: 1900px!important;;

 }



.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
   background-color: #ffffff;  /* the background          */
   filter:alpha(opacity=50);   /* Internet Explorer       */
   -moz-opacity:0.5;           /* Mozilla 1.6 and below   */
   opacity: 0.5;  }


.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;  /* the background          */
   filter:alpha(opacity=100);   /* Internet Explorer       */
   -moz-opacity:1;           /* Mozilla 1.6 and below   */
   opacity: 1;  }   
    


